GOOGLE_SHEET_ID=1VPciipqxvtenN_kS_MbX8iZ-xZXEEaHiuU9uu7Ql-40
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_TAB_PROSPECTOS=Prospectos
GOOGLE_SHEET_TAB_MASTER=Prospectos_Master
LUMA_HUB_BASE_URL=https://luma-intelligence-hub.vercel.app
